<div id="container">
    <img src="/spati.jpg" alt="pic of spati">
    <div id="home-text">
    <h2>With supermarkets closed every Sunday where do the poor planners amongst ourselves find a place to shop?</h2>
    <br>
    <h2>The government has clamped down on Spätis being open on Sundays, leaving no where for the lackadaisical shopper.</h2>
    <br>
    <h2>Sign our petition today to keep spätis open for everyone on Sundays!*</h2>
    </div>
</div>
