<h1>Please sign up to the Späti Sundays petition!!</h1>
<h2>Are you sick if turning up to the shops on a Sunday and the being closed?</h2>
<h2>Are you tired of fighting over the last loaf of bread on every Saturday evening at the supermarket?</h2>
<h3>Sign our petition to keep shops open on Sundays</h3>

<form method="POST">
    <input type="text" name="first" placeholder="first name" required>
    <input type="text" name="last" placeholder="last name" required>
    <div>
        <canvas id="signature" width="500" height="200" style="border: 2px black dashed;"></canvas>
    </div>
    <button>Submit</button>
</form>

<script src="script.js"></script>