<div >
    <form method="POST" class="form" >
        <input class="inputFields" type="text" name="age" placeholder="age">
        <br>
        <input class="inputFields" type="text" name="city" placeholder="city">
        <br>
        <input class="inputFields" type="text" name="url" placeholder="url">
        <br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button">Submit</button>
    </form>
</div>