<form method="POST" class="form">
    <input type="text" class="inputFields" name="first" placeholder="first name" required>
    <br>
    <input type="text" class="inputFields" name="last" placeholder="last name" required>
    <br>
    <input type="text" class="inputFields" name="email" placeholder="email address" required>
    <br>
    <input type="password" class="inputFields" name="password" placeholder="password" required>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button">Submit</button>
</form>