<form method="POST">
    {{#if subErr}}<p>An error occured please try again</p>{{/if}}
    <input type="text" name="first" placeholder="first name" required>
    <br>
    <input type="text" name="last" placeholder="last name" required>
    <br>
    <input type="text" name="email" placeholder="email address" required>
    <br>
    <input type="password" name="password" placeholder="password" required>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Submit</button>
</form>