<div class="center-text" id="thanksPg">
    <h1>Thanks for signing our petition</h1>
    <img src="{{sigImg}}" alt="signature">
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button  class="button">Remove signature</button>
    </form>
    <h2>To see a list of people who have already signed click <a class="pg-link" href="/signers">here</a></h2>
    <h3>{{num}} people have signed this petition so far.</h3>
</div>

